<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>administrador</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: auto;">

    <ion-card class="transparent-card" style="padding: 20px; width: 90%; max-width: 400px; background: rgba(0, 0, 0, 0.7); border-radius: 20px; color: white;">

      <form [formGroup]="usuario" (ngSubmit)="registrar()">
      
        <ion-item class="input-item">
          <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT" placeholder="Ingresa tu RUT"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre" placeholder="Ingresa tu nombre"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input formControlName="apellido" type="text" labelPlacement="stacked" label="Apellido" placeholder="Ingresa tu apellido"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-select formControlName="genero" labelPlacement="stacked" label="Genero">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input formControlName="correo_electronico" type="email" labelPlacement="stacked" label="Correo Electronico" placeholder="Ingresa tu correo"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input formControlName="contraseña" type="password" labelPlacement="stacked" label="Contraseña" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>

        

        <!-- Campo tiene_auto con radio button -->
        <ion-item>
          <ion-label>Tiene auto</ion-label>
          <ion-radio-group formControlName="tiene_auto" value="no" style="display: flex; flex-direction: row; justify-content: space-around;">
            <ion-item lines="none" style="flex-direction: row; align-items: center;">
              <ion-radio slot="start" value="si"></ion-radio>
              <ion-label>Sí</ion-label>
            </ion-item>
            <ion-item lines="none" style="flex-direction: row; align-items: center;">
              <ion-radio slot="start" value="no" checked></ion-radio>
              <ion-label>No</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        

        <!-- Campo de patente que acepta letras y números -->
        <ion-item class="input-item" *ngIf="usuario.get('tiene_auto')?.value === 'si'">
          <ion-input formControlName="patente" type="text" labelPlacement="stacked" label="Patente" placeholder="Ingresa la patente" inputmode="text"></ion-input>
        </ion-item>

        <!-- Campo de capacidad de asientos que solo acepta números -->
        <ion-item class="input-item" *ngIf="usuario.get('tiene_auto')?.value === 'si'">
          <ion-input formControlName="capacidad_asientos" type="number" labelPlacement="stacked" label="Capacidad de Asientos" placeholder="Ingresa capacidad de asientos" inputmode="numeric"></ion-input>
        </ion-item>


        <ion-button [disabled]="usuario.invalid" type="submit" size="block" style="--background: rgb(159,183,64,255); margin-top: 20px;">REGISTRAR ADMIN</ion-button>
        <ion-button (click)="modificar()" size="block" style="--background: rgb(27, 193, 160); margin-top: 20px;">MODIFICAR</ion-button>
          <ion-button type="reset" size="block" style="--background: rgb(216, 104, 104); margin-top: 20px;">LIMPIAR</ion-button>
      </form>
    </ion-card>
    
    <ion-card *ngFor="let usuario of usuarios" class="transparent-card" style="padding: 20px; width: 90%; max-width: 400px; background: rgba(0, 0, 0, 0.7); border-radius: 20px; color: white;">
      <ion-list >
        
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option (click)="buscar(usuario.rut)" color="warning">Buscar</ion-item-option>
          </ion-item-options>
  
          <ion-item>{{usuario.rut}} - {{usuario.nombre}}</ion-item>
  
          <ion-item-options side="end">
            <ion-item-option (click)="eliminar(usuario.rut)" color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  
      </ion-list>
    </ion-card>

  </div>
</ion-content>
