.profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center; /* Centra el contenido en el contenedor */
}
.profile-icon {
  width: 150px; /* Tamaño más grande */
  height: 150px; /* Tamaño más grande */
  border: 2px solid black; /* Borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra opcional para dar un efecto de profundidad */
}
.black-text {
  color: black; /* Cambia el color del texto a negro */
}
  
.profile-icon-wrapper {
  margin-bottom: 10px; /* Espaciado entre la imagen y el texto */
}
  
  
  .file-input {
    display: none; /* Oculta el input de archivo */
  }

  
  .profile-text h2 {
    margin: 0; /* Elimina el margen para que estén justo debajo */
    text-align: center; /* Centra el texto, si lo deseas */
  }

