<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Ícono de perfil y entrada para cambiar foto -->
  <div class="profile-icon-wrapper">
    <ion-avatar class="profile-icon" (click)="fileInput.click()">
      <img [src]="profileImage" alt="Foto de perfil" />
    </ion-avatar>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" #fileInput />
  </div>
  <div class="profile-container">

    <!-- Detalles del usuario -->
    <div class="profile-info">
      <h2 class="info-title">Detalles del Usuario</h2>
      <ion-label class="info-label">RUT: <strong>{{ usuario.rut }}</strong></ion-label>
      <ion-label class="info-label">Nombre: <strong>{{ usuario.nombre }}</strong></ion-label>
      <ion-label class="info-label">Apellido: <strong>{{ usuario.apellido }}</strong></ion-label>
      <ion-label class="info-label">Correo: <strong>{{ usuario.correo_electronico }}</strong></ion-label>
      <ion-label class="info-label">¿Tiene Auto?: <strong>{{ usuario.tiene_auto }}</strong></ion-label>
      
      <!-- Información adicional si el usuario tiene auto -->
      <div *ngIf="usuario.tiene_auto == 'si'" class="car-info">
        <h3 class="info-title">Información del Auto</h3>
        <ion-label class="info-label">Patente: <strong>{{ usuario.patente }}</strong></ion-label>
        <ion-label class="info-label">Capacidad de asientos: <strong>{{ usuario.capacidad_asientos }}</strong></ion-label>
        <ion-label class="info-label">Marca del Auto: <strong>{{ usuario.marca_auto }}</strong></ion-label>
      </div>
    </div>
    <ion-button size="block" style="--background: rgb(159,183,64,255); margin-top: 20px;">MODIFICAR PERFIL</ion-button>
  
    <qrcode
        [qrdata]="usuario.rut"
        [allowEmptyString]="true"
        [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'"
        [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'"
        [imageSrc]="'./assets/images/locorene.jpg'"
        [imageHeight]="75"
        [imageWidth]="75"
        [margin]="4"
        [scale]="1"
        [title]="'A custom title attribute'"
        [width]="300"
      ></qrcode>

  </div>

  

</ion-content>
