<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">

  <ion-card class="crear-reserva-container ion-padding">
    <div id="map_html" class="map-container" (click)="initMap()"></div>
    <ion-button expand="full" style="--background: rgb(235, 67, 67); margin-top: 10px;">cancelar el Viaje</ion-button>
  </ion-card>

</ion-content>
