<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle Reserva </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">
  
  <ion-card class="crear-reserva-container ion-padding">
    <div id="map_html" class="map-container" (click)="initMap()"></div>

    <!-- Botón para tomar el viaje -->
    <ion-button expand="full" style="--background: rgb(159,183,64,255); margin-top: 10px;" (click)="toViajes()">Tomar el Viaje</ion-button>

    <!-- Botón para eliminar el viaje -->
    <ion-button expand="full" style="--background: rgb(235, 67, 67); margin-top: 10px;">eliminar el Viaje</ion-button>
  </ion-card>

</ion-content>
