#map_html{
    height: 50vh;
    width: auto;
    //margin: 10% 10% 10% 10%;
}

ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  .accordion-container {
    margin-top: 20px;
  }
  
  .viaje-form ion-item {
    margin-bottom: 16px;
  }
  
  .custom-button {
    --background: #9fb740;
    margin-top: 20px;
  }
  
  .map-container {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .reserva-list {
    margin-top: 10px;
  }
  
  .reserva-item {
    border-radius: 10px;
    margin-bottom: 12px;
    background: #f5f5f5;
    padding: 10px;
  }
  
  .empty-message {
    text-align: center;
    margin-top: 20px;
  }
  