<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="reservas" [routerLink]="['/reseravs']">
        <ion-icon name="calendar-number-sharp"></ion-icon>
        <ion-label>Reservas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil" [routerLink]="['/perfil']">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="administrador" [routerLink]="['/administrador']">
        <ion-icon name="build"></ion-icon>
        <ion-label>Administrar</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
