<ion-header [translucent]="true">
  <ion-toolbar>

    <!--BOTON VOLVER AL HOME 
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <ion-title>Bienvenido: {{usuario.nombre | titlecase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="reservas">
        <ion-icon name="calendar-number-sharp"></ion-icon>
        <ion-label>Reservas</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="viajes">
        <ion-icon name="car"></ion-icon>
        <ion-label>Mis viajes</ion-label>
      </ion-tab-button>
      
      
      <ion-tab-button tab="administrador" *ngIf="usuario.tipo_usuario=='Administrador'">
        <ion-icon name="build"></ion-icon>
        <ion-label>Administrar</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
