.container {
  position: fixed;
  bottom: 50px; /* Espacio desde el borde inferior */
  right: 16px;
}

.container img {
  width: 200px;  /* Cambia el tamaño aquí */
  height: auto;  /* Mantiene la proporción */
  max-width: 100%; /* Evita que la imagen se salga del contenedor */
}
