<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/images/fondo-login.png') no-repeat center center / cover;">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-icon-wrapper">
    <ion-avatar class="profile-icon" (click)="fileInput.click()">
      <img [src]="profileImage" alt="Foto de perfil" />
    </ion-avatar>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" #fileInput />
  </div>

<div class="profile-container">
  <!-- Detalles del Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input [(ngModel)]="usuario.rut" aria-placeholder="RUT"></ion-input>
      <ion-input [(ngModel)]="usuario.nombre" ariaplaceholder="Nombre"></ion-input>
      <ion-input [(ngModel)]="usuario.apellido" ariaplaceholder="Apellido"></ion-input>
      <ion-input [(ngModel)]="usuario.correo_electronico" ariaplaceholder="Correo Electrónico"></ion-input>
    </ion-card-content>
  </ion-card>
  

  <!-- Detalles del Auto -->
  <ion-card *ngIf="usuario.tiene_auto === 'si'">
    <ion-card-header>
      <ion-card-title>Información del Auto</ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
 
    <ion-select [(ngModel)]="usuario.marca_auto" placeholder="Selecciona una marca" *ngIf="carBrands.length > 0">
      <ion-select-option *ngFor="let brand of carBrands" [value]="brand">{{ brand }}</ion-select-option>
    </ion-select>

    <ion-input [(ngModel)]="usuario.marca_auto" aria-placeholder="Marca"></ion-input>
      <ion-input [(ngModel)]="usuario.patente" aria-placeholder="Patente"></ion-input>
      <ion-input [(ngModel)]="usuario.capacidad_asientos" placeholder="Capacidad de Asientos" type="number" min="1" max="5" inputmode="numeric" pattern="[0-9]*"></ion-input>
    </ion-card-content>
  </ion-card>

  

  <!-- Botón para Guardar -->
  <ion-button (click)="guardarPerfil()" size="block" class=" guardar-btn">Guardar</ion-button>
</div>
</ion-content>
